<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Better Than Great - A Digital Solutions Studio</title>
		
		<link rel="stylesheet" href="/css/reset.css" type="text/css">
		<link rel="stylesheet" href="/css/screen.css" type="text/css">
		<link rel="stylesheet" href="/icons/style.css" type="text/css">
		<link rel="stylesheet" href="/libs/slick/slick/slick.css" type="text/css">

		<script type="text/javascript" src="//use.typekit.net/wzs7hse.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body onload="start()">